body {
     background-color: whitesmoke;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style:normal;
    font-variation-settings: "slnt" 0;
} 
.container {
    width: 1298;
    height:  905;
    display:flex;
    background-color:#2F2f2F;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    justify-content : flex-end;
  }
  .header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    height: 50px;
    padding: 10px;
    
    
}

h1 {
    color: white;
}
 h2{
    color: #ffffff;
    font-size: 24px;
    margin: 0;
 }

.profile {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white; 
    font-weight: bold;
    margin-left: 20px;
box-shadow: #ffff 0 0 0 3px;}

.slidebar{
display: flex;
flex-direction: column;
align-items: center;
width: 35%;
height: 500px;
background-color: #000000;

}

.calender{
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}
.Projects{
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}
.calender svg, .Projects svg {
    width: 38px; 
    height: 38px;
    margin-right: 10px; 
}
p{
    flex-direction: column;
    color: #ffffff;
}
.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.dropdown p {
    flex-direction: column;
    margin: 5px 0;
    font-size: 14px;}

.board{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 500px;
    color: #262626;
   
}
.content {
    display: flex;
    background-color: #262626;
    flex-grow: 1;


.inprogress{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-direction: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
    border-radius: 30px;
    background-color: #7D58B9;
    margin-left: 10px;
    margin-top: 10px;
    
}
.completed{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-direction: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
    border-radius: 30px;
    background-color: #7D58B9;
    margin-left: 10px;
    margin-top: 10px;
    
}

.progresscontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.completed .notes p {
    text-decoration: line-through; 
}

}
.datetime {
    font-size: 5px;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    
    
}

.datetime.left {
    margin-left: 2px; 
}

.datetime.right {
    margin-right: 2px; 
}

.notes {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #767575;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    
   
}

.notes p {
    display: flex;
    
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    
}
.board svg {
    margin-left:auto;
    margin-top: 0;
    padding: 10px;
}